:root {
  --bg-color: #080808;
  --second-bg-color: #131313;
  --text-color: white;
  --main-color: #00ffee;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
  scroll-behavior: smooth;
  font-family: "poppins", sans-serif;
  max-width: 100%;
}
html {
  font-size: 60%;
  overflow-x: hidden;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4rem 12% 4rem;
  background: black;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}
.logo {
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease;
}
.logo:hover {
  transform: scale(1, 1);
}
.logo span {
  text-shadow: 0 0 25px var(--main-color);
}
.navbar a {
  font-size: 1.8rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a:active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}
#menu-icon {
  font-size: 3.6rem;
  color: var(--main-color);
  display: none;
}
section {
  min-height: 100vh;
  padding: 10rem 12% 10rem;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem;
}
.home-content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-align: left;
  justify-content: center;
  margin-top: 3rem;
}
span {
  color: var(--main-color);
}
.logo span {
  color: var(--main-color);
}
.home-content h3 {
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: 3.5rem;
}
.home-content h1 {
  font-size: 7rem;
  font-weight: 700;
  margin-top: 1.5rem;
  line-height: 1;
}
.home-img {
  border-radius: 50%;
}
.home-img img {
  position: relative;
  top: 3rem;
  width: 47vw !important;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.home-img img:hover {
  box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color),
    0 0 100px var(--main-color);
}
.home-content p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8;
  max-width: 1000px;
}
.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  background: transparent;
  border: 2px solid var(--main-color);
  font-size: 2.5rem;
  border-radius: 50%;
  color: var(--main-color);
  margin: 3rem 1.5rem 3 rem 0;
  transition: 0.3s ease-in-out;
}
.social-icons a:hover {
  color: var(--text-color);
  transform: scale(1.3) translateY(-5px);
  box-shadow: 0 0 25px var(--main-color);
  background-color: var(--main-color);
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
  border-radius: 4rem;
  font-size: 1.6rem;
  color: black;
  border: 2px solid transparent;
  letter-spacing: 0.1mm;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 50px var(--main-color);
}

.btn-group {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.btn-group :nth-of-type(2) {
  background-color: black;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  box-shadow: 0 0 25px transparent;
}

.btn-group :nth-of-type(2):hover {
  box-shadow: 0 0 25px var(--main-color);
  background-color: var(--main-color);
  color: black;
}

.text-animation {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}

.text-animation span {
  position: relative;
}

.text-animation span::before {
  content: "Web Developer";
  color: var(--main-color);
  animation: words 20s infinite;
}

.text-animation span::after {
  content: "";
  background-color: var(--bg-color);
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid var(--bg-color);
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid var(--main-color);
  }
}

@keyframes words {
  0%,
  20% {
    content: "Frontend Developer";
  }
  21%,
  40% {
    content: "Programmer";
  }
  41%,
  60% {
    content: "UI / UX Designer";
  }
  61%,
  80% {
    content: "Web Developer";
  }
  81%,
  100% {
    content: "Backend Developer";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85%,
  100% {
    width: 100%;
  }
}
.service {
  background: var(--bg-color);
  color: white;
}

.service h2 {
  margin-bottom: 5rem;
  color: white;
}
.services-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
}
.service-box {
  background-color: var(--main-color);
  color: black;
  height: 250px;
  border-radius: 3rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.service-box:hover {
  background: white;
  color: var(--main-color);
  transform: scale(1.03);
}
.service-box .service-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-height: 200px;
  justify-content: center;
  align-items: baseline;
  padding: 5em;
}

.service-info h4 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.service-info p {
  font-size: 1.6rem;
  font-weight: 400;
  max-height: 100px;
  margin: auto;
}

.skills-section {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.skills-section h2 {
  text-align: center;
  margin-bottom: 20px;
}

.skill {
  margin-bottom: 15px;
}

.skill-name {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.progress-bar {
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  height: 10px;
}

.progress {
  background-color: #76c7c0;
  height: 100%;
  border-radius: 10px;
}
.heading {
  text-align: center;
}

.skill-percent {
  float: right;
  font-size: 0.9em;
  color: #555;
}
.projects div a {
  border: 4px solid gray;
  font-size: 40px;
  font-weight: 500;
  margin: 0 auto;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 40px;
  margin: 10px;
  color: aqua;
}
.projects div {
  margin: 10px;
}

.projects-section {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.projects-section h2 {
  text-align: center;
  margin-bottom: 30px;
}
label #btnn,
label #cancel {
  color: white;
  font-size: 30px;
  float: right;
  line-height: 70px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

.project {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #333;
  background-image: url("");
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project h3 {
  margin-top: 0;
  color: yellow;
  font-size: 30px;
}

.project p {
  color: #fff;
  line-height: 1.6;
}

.demo-link {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  padding-left: 0px !important;
}
#attr {
  font-size: 40px;
  margin-bottom: 30px;
  text-align: center;
}
#attr:hover {
  text-decoration: underline aqua;
  color: aqua;
}
button {
  background-color: orange;
  color: #fff;
  padding: 5px;
  margin-top: 30px;
}
.btno {
  text-align: center;
}
.contain {
  text-align: center;
}
fieldset {
  text-align: center;
  margin-top: 30px;
}
textarea {
  width: 60%;
}
textarea,
#first,
#second {
  border: 2px solid white;
  background-color: black;
  color: white;
}
#first {
  margin-right: 20px;
  width: 40%;
}
#second {
  margin-left: 20px;
  width: 40%;
}

.footer-section {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.contact-info {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contact-item {
  margin: 10px 0;
  font-size: 20px;
}

.contact-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #76c7c0;
}

.contact-detail {
  display: block;
  color: #ccc;
}

@media (max-width: 940px) {
  .navbar a {
    font-size: 20px;
  }
  #first {
    margin-bottom: 7px;
  }
  .hoo {
    display: block;
  }
  label #btnn {
    display: block;
    background-color: aqua;
    font-size: 30px;
  }
  label #cancel {
    background-color: aqua;
  }
  .navbar {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    top: 80px;
    left: -100%;
    transition: all 0.5s;
    text-align: center;
  }
  #check:checked ~ nav {
    left: 0;
  }
  #check:checked ~ label #btnn {
    display: none;
  }
  #check:checked ~ label #cancel {
    display: block;
  }

  .navbar li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .home {
    display: block;
  }
  .contact-info {
    flex-direction: column;
    align-items: center;
  }
  .services-container {
    display: block;
  }
  .service-box {
    margin-bottom: 40px;
  }
  .home-content h1 {
    font-size: 3.5rem;
  }
  .home-content h3 {
    font-size: 2rem;
  }
  .home-content p {
    font-size: 1.3rem;
  }
  .header .logo {
    font-size: 2rem;
  }
}
#contact div b {
  font-size: 40px;
}
.hover-text {
  padding: 10px;
  margin-top: 50px;
  border-radius: 5px;
  cursor: pointer;
}

.hover-text b {
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.hover-text:hover b {
  opacity: 1;
}
#but {
  margin: 0 auto;
}
#myForm label {
  font-size: 25px;
  font-weight: 200;
  color: aqua;
}
.download {
  border: 5px solid gray;
  text-align: center;
  padding: 7px;
  color: aqua;
  font-size: 25px;
  font-weight: 400;
  width: 45%;
  margin: 0 auto;
}
.download:hover {
  background-color: orangered;
}
